.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f8;
}

.login-card {
    background: #fff;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.login-title {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #668F88;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-family: "Cagliostro", serif;
    font-size: 17px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #557b75;
}