.signup-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f4f6f8;
}

.signup-card {
    background-color: #fff;
    padding: 2.5rem;
    width: 100%;
    max-width: 43.75rem;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #231F20;
}

.signup-title::after {
    content: "";
    display: block;
    width: 60%;
    max-width: 25rem;
    height: 4px;
    background-color: #668F88;
    margin: 1rem auto 1rem;
    border-radius: 2px;
}

.fieldset-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form fieldset {
    border: none;
    margin-bottom: 1.5rem;
}

.signup-form legend {
    font-family: "Cardo", serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.8rem;
    color: #668F88;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.form-group input, .form-group select {
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: #668F88;
}

.error {
    font-family: "Cagliostro", serif;
    color: #c0392b;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.btn-signup {
    width: 60%;
    padding: 0.8rem;
    background-color: #668F88;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-family: "Cagliostro", serif;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.25s ease;
}

.btn-signup:hover {
    background-color: #557b75;
    transform: scale(1.05);
}

.signup-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-family: "Cagliostro", serif;
}

.signup-footer a {
    color: #668F88;
    text-decoration: none;
    font-weight: bold;
    font-family: "Cagliostro", serif;
}

.signup-footer a:hover {
    text-decoration: underline;
    color: #557b75;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    accent-color: #668F88;
    width: 16px;
    height: 16px;
    cursor: pointer;
}