@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 0px;
}

main {
    flex: 1;
}

.font-title {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    color: #231F20;
    font-size: 50px;
    padding: 8px;
}

.font-text {
    font-family: "Cagliostro", serif;
    font-weight: 400;
    color: black;
    font-style: normal;
    padding: 8px;
    text-align: justify;
}

header {
    background-color: #668F88;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #577d76;
    background-color: #668F88;
}


.logo img {
    height: 50px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #ffe9c5;
    font-weight: 500;
}

.navbar a:hover {
    color: #231F20;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #668F88;
    padding: 12px;
}