{% extends "base.html" %}

{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/password.css' %}">{% endblock %}

{% block content %}
<div class="password-container">
    <div class="password-card">
        <h1 class="font-title password-title">Redefinir senha</h1>

        <p class="font-text">Senha redifinida com sucesso!</p>

        <br>
        
        <a href="{% url "accounts:login" %}" class="font-text btn-password-complete" id="do-login-password-recovery">Fazer login</a>
    </div>
</div>
{% endblock %}