{% extends "base.html" %}

{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/password.css' %}">{% endblock %}

{% block content %}
<div class="password-container">
    <div class="password-card">
        <h1 class="font-title password-title">Recuperar senha</h1>   
        <form method="post" class="password-form">
            {% csrf_token %}

            {{form.non_field_errors}}

            <div class="form-group">
                <label for="id_email" class="font-text">Email</label>

                {{form.email}}
            </div>

            <br>
            
            <button type="submit" class="btn-password">Enviar email</button>
        </form>
    </div>
</div>
{% endblock %}