{% extends "base.html" %}

{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/password.css' %}">{% endblock %}

{% block content %}
<div class="password-container">
    <div class="password-card">
        <h1 class="font-title password-title">Redefinir senha</h1>   
        <form method="post" class="password-form">
            {% csrf_token %}

            <div class="form-group">
                {{form.as_p}}
            </div>

            <br>
            
            <button type="submit" class="btn-password">Salvar nova senha</button>
        </form>
    </div>
</div>
{% endblock %}