{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
    <section class="about">
        <h1 class="font-title">Sobre mim</h1>
        <p class="font-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie cursus erat in tincidunt. Aliquam ex leo, ultricies mollis arcu non, vehicula mollis sapien. Phasellus sollicitudin hendrerit scelerisque. Donec nec feugiat turpis. Duis facilisis nisl eu dui sodales pretium. Pellentesque suscipit sit amet arcu a auctor. Morbi aliquam viverra sapien, sed ullamcorper magna scelerisque vitae. Sed lobortis enim a ante vulputate, quis accumsan ex tristique. Donec tempor est a orci commodo, quis eleifend ante laoreet. Vestibulum eget dolor orci. Phasellus tempus a nibh et imperdiet. Maecenas dictum quam dolor, id sodales diam facilisis quis. Nam sit amet turpis in ex aliquam molestie. Cras accumsan, sapien nec pretium euismod, diam libero auctor risus, id mattis risus mauris sed libero. Ut porta, velit non luctus porta, nunc erat consectetur arcu, at accumsan mauris erat at sem. Duis aliquet mauris sed felis euismod, in egestas justo dictum.<br>
            Sed efficitur malesuada elit, nec varius erat ultricies vitae. Vestibulum malesuada at urna rhoncus fringilla. Nunc a dui accumsan, iaculis nibh nec, ornare libero. Praesent in scelerisque leo, vel fermentum elit. Sed ut diam luctus, elementum nisi tempor, commodo leo. Integer viverra enim et nunc pretium mattis. Vivamus eu tellus at nisi dictum tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer consectetur molestie tortor, sed ultrices metus laoreet nec.
        </p>
    </section>
    <section class="therapies">
        <h1 class="font-title">Terapias</h1>
        <div class="therapies_container">
            <div class="therapy">
                <img><img>
                <h1>Finger Yoga</h1>
                <p></p>
            </div> 
                       
            <div class="therapy">
                <img><img>
                <h1>Reflexologia Podal</h1>
                <p></p>
            </div> 

            <div class="therapy">
                <img><img>
                <h1>Shiatsu</h1>
                <p></p>
            </div>

            <divclass="therapy">
                <img><img>
                <h1>Auriculoterapia</h1>
                <p></p>
            </div>
        </div>
    </section>
{% endblock  %}